.playing {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  zoom: 0.8;

  .submit {
    display: flex;
    min-height: 20px;

    &-btn {
      margin: 32px 120px 32px auto;
      width: 144px;
      font-weight: 400;
      font-size: 28px;
      background: #ffe274;
      border-radius: 10px;
      text-align: center;
      padding: 8px 24px;
      cursor: pointer;
    }

    &-btn:hover {
      background: #f5cd3c;
    }
  }
}
