.buttons-control {
  display: flex;
  justify-content: space-between;
  padding: 24px;

  // button.MuiButton-root {
  //   height: 60px;
  //   font-size: 28px;
  //   padding: 0 24px;

  //   svg {
  //     scale: 1.5;
  //   }
  // }

  &-right {
    button.MuiButton-root {
      margin-left: 24px;
    }
  }
}
