.waiting-player {
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px;

    .right {
      .MuiButton-root {
        margin-left: 16px;
      }

      .lock-btn {
        scale: 0.75;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    .player-inner {
      display: flex;

      .player {
        border: 0;
        padding: 8px 20px;
        margin: 5px;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        color: #fff;
        background: #00b8f1;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}
