.answer-inner {
  // display: flex;
  padding: 0 10vw;
  // flex-wrap: wrap;
  // justify-content: space-between;

  .answer {
    width: 47%;
    margin-bottom: 25px;

    &-item {
      width: 100%;
      display: flex;
      background: #d9f6ff;
      height: 100px;
      border: 1px solid #00b8f1;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      justify-content: flex-start;
      font-weight: 400;
      text-transform: none;
      padding: 0;
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 184, 241, 0.5); // Thêm hiệu ứng box-shadow
      }

      .answer-icon {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          font-size: 36px;
          width: 36px;
          height: 36px;
        }
      }

      .answer-text {
        border-left: 1px solid #00b8f1;
        font-size: 24px;
        vertical-align: middle;
        padding: 24px;
        color: black;
        width: 70%;
        text-align: left;
      }
    }

    &-item.disable {
      opacity: 0.4;
    }

    &-item.in-correct {
      opacity: 1;
      background: #ffb6b3;
      border: 1px solid #ff6962;
      .answer-icon {
        svg {
          path {
            fill: #ff6962;
          }
          rect {
            fill: #ff6962;
          }
        }
      }
      .answer-text {
        border-left: 1px solid #ff6962;
      }
    }

    &-item.correct {
      opacity: 1;
      background: #bde7bd;
      border: 1px solid #77dd76;

      .answer-icon {
        svg {
          path {
            fill: #77dd76;
          }
          rect {
            fill: #77dd76;
          }
        }
      }
      .answer-text {
        border-left: 1px solid #77dd76;
      }
    }
  }
}
