@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

.home {
  background-image: url('../../../src/assets/Creative ways to stay close in a remote working world.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 89vh;
  .home-inner {
    padding: 10px 15vw;
    .brand-home {
      margin-top: 50px !important;
      font-family: 'Comfortaa' !important;
      font-size: xxx-large !important;
      text-shadow: 3px 3px 3px lightgrey;
    }

    .slogan {
      font-family: 'Itim' !important;
      font-size: x-large !important;
    }
  }
}

.intro-text-container {
  padding: 10px 5px;
  transform: translateY(-10px);
  text-align: center;
  background-color: #f9f9fb;
}

.intro-title {
  font-weight: bold !important;
  color: black;
}

.intro-text {
  color: black;
}
